.tasks-home {
  .header-main {
    margin-bottom: 52px;
  }


  .section-filter {

    .filter-dropdowns {
      position: relative;
      display: flex;
      gap: 45px;
      border: 1px solid var(--color-light-gray);
      border-radius: 10px;
      width: fit-content;
      margin-bottom: 25px;
    }

    .selected-task-list {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 24px;
      min-height: 29px;

      &__item {
        line-height: 16px;
        color: var(--color-deep-gray);
        border: 1px solid #CED4DA;
        border-radius: 43px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 4px;

        .btn-delete-task {
          width: 14px;
          height: 14px;
          border: none;
          background: none;
        }

      }

      .btn-clear-selected-tasks {
        color: var(--color-deep-gray);
        border: none;
        background: none;
      }
    }
  }

  .section-tasks {

    .priorities-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 52px;

      .priorities-list-item {

        .priority {
          font-size: 20px;
          color: var(--color-white);
          font-weight: 500;
          text-align: center;
          padding-block: 15px;
          margin-bottom: 20px;
          border-radius: 10px;

          &.to-begin {
            background-color: var(--color-golden-yellow);
          }

          &.in-progress {
            background-color: var(--color-bright-orange);
          }

          &.ready-for-testing {
            background-color: var(--color-magenta-pink);
          }

          &.done {
            background-color: var(--color-royal-blue);
          }
        }
      }

      .tasks-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .tasks-list-card {
          padding: 20px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          gap: 28px;
          transition: transform 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            transform: scale(1.05);
          }

          &.to-begin {
            border: 1px solid var(--color-golden-yellow);
          }

          &.in-progress {
            border: 1px solid var(--color-bright-orange);
          }

          &.ready-for-testing {
            border: 1px solid var(--color-magenta-pink);
          }

          &.done {
            border: 1px solid var(--color-royal-blue);
          }

          .header-layout {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          &__header {
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .department {
              color: var(--color-white);
              display: inline-block;
              width: 88px;
              padding: 3px 6px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              border-radius: 15px;
              //height: 24px;

              &.administration {
                background-color: var(--color-light-gray);
              }

              &.marketing {
                background-color: var(--color-pastel-yellow);
              }

              &.logistics {
                background-color: var(--color-pastel-blue);
              }

              &.tech {
                background-color: var(--color-peach-orange);
              }
            }

            .due-date {

            }
          }

          &__text {
            h5 {
              font-size: 15px;
              color: var(--color-charcoal-gray);
              line-height: 18px;
              margin-bottom: 12px;
            }

            p {
              font-size: 14px;
              color: var(--color-deep-gray);
              line-height: 17px;
              height: 34px;
            }
          }

          &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              width: 31px;
              height: 31px;
              border-radius: 50%;
            }

            &-comment {
              display: flex;
              align-items: center;
              gap: 4px;

              svg {
                width: 22px
              }
            }
          }
        }
      }
    }
  }
}

