.create-task {

  h1 {
    margin-bottom: 25px;
  }

  .form {
    border: 1px solid var(--color-pale-purple);
    border-radius: 4px;
    background-color: #FBF9FFA6;
    padding: 65px 55px 0 55px;

    display: grid;
    grid-template-columns: 550px 550px;
    column-gap: 160px;
    row-gap: 55px;

    .form-description {
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid var(--color-light-gray);
      height: 133px;
      resize: none;
      margin-bottom: 4px;

      &:focus {
        outline: none;
      }

      &.invalid-border {
        border-color: var(--color-vivid-red);
      }
    }

    .custom-option {
      display: flex;
      align-items: center;
      gap: 6px;

      img {
        border-radius: 50%;
        height: 28px;
        width: 28px;
      }

      .icon-priority {
        height: 18px;
      }
    }

    &__priority-status {
        display: flex;
        gap: 32px;
    }
  }
}