

.task-priority {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 14px 3px 4px;
  border-radius: 4px;
  margin: 0;
  width: fit-content;

  &.low {
    color: var(--color-vivid-green);
    border: 1px solid var(--color-vivid-green);
  }

  &.medium {
    color: var(--color-amber-yellow);
    border: 1px solid var(--color-amber-yellow);
  }

  &.high {
    color: var(--color-vivid-red);
    border: 1px solid var(--color-vivid-red);
  }
}