:root {
    font-family: 'FiraGo', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: #FFF;
    --color-pale-purple: #DDD2FF;
    --color-royal-purple: #8338EC;
    --color-mist-lavender: #F8F3FEA6;
    --color-light-gray: #DEE2E6;
    --color-soft-gray: #ADB5BD;
    --color-steel-gray: #6C757D;
    --color-slate-gray: #474747;
    --color-deep-gray: #343A40;
    --color-charcoal-gray: #212529;
    --color-deep-black: #0D0F10;
    --color-vivid-red: #FA4D4D;
    --color-vivid-green: #08A508;
    --color-pastel-yellow: #FFD86D;
    --color-golden-yellow: #F7BC30;
    --color-amber-yellow :#FFBE0B;
    --color-bright-orange: #FB5607;
    --color-peach-orange : #FD9A6A;
    --color-blossom-pink :#FF66A8;
    --color-magenta-pink: #FF006E;
    --color-pastel-blue: #89B6FF;
    --color-royal-blue: #3A86FF;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}
