:root {
    font-family: 'FiraGo', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: #FFF;
    --color-pale-purple: #DDD2FF;
    --color-royal-purple: #8338EC;
    --color-light-gray: #DEE2E6;
    --color-charcoal-gray: #212529;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}
